body {
  background-color: #fff;
  min-height: 611px;
  margin: 0;
}

.container-fluid {
  padding-top: 50px !important;
}

.map-panel {
  border: 1px solid #d4dadc;
  border-radius: 2px;
  box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.132), 0 0.6px 1.8px 0 rgba(0,0,0,.108);
}

.wonder-icon {
  border-radius: 50px;
  border: 1px solid grey;
}

.wonder-icon:hover {
  border: 1px solid #0078A8;
}

.leaflet-popup {
  bottom: 12px !important;
}


.image-panel {
    min-height: 347px;
    padding: 0px;
    margin-bottom: 20px;
    background-color: #d4dadc;
    border: 1px solid #d4dadc;
    border-radius: 2px;
    box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.132), 0 0.6px 1.8px 0 rgba(0,0,0,.108);
}

.image-panel-title {
  padding: 10px 19px 10px 19px;
  font-size: medium;
  font-weight: bold;
}

.image-panel-picture {
  padding: 0px;
}

.image-panel-buttons {
  padding: 12px 19px 12px 19px;
}

.image-panel-buttons button {
  width: 100%;
}

.progress-bar-panel {
  min-height: 20px;
  padding: 10px 19px 0px 19px;
  margin-bottom: 20px;
  background-color: #d4dadc;
  border: 1px solid #d4dadc;
  border-radius: 2px;
  box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.132), 0 0.6px 1.8px 0 rgba(0,0,0,.108);
}

.progress-text {
  font-weight: bold;
}

.progress-number {
    position: absolute;
    right: 40px !important;
}

.score-panel {
    width: 100%;
    height: 50px;
    font-size: large;
    font-weight: bold;
    min-height: 20px;
    padding: 12px 19px 11px 19px;
    margin-bottom: 20px;
    background-color: #d4dadc;
    border: 1px solid #d4dadc;
    border-radius: 2px;
    box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.132), 0 0.6px 1.8px 0 rgba(0,0,0,.108);
}

.main-buttons #rules_btn {
  width: 100%;
}
.main-buttons #start_btn {
  width: 100%;
}
.main-buttons button {
  height: 50px;
  font-size: large;
  width: 100%;
  box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.132), 0 0.6px 1.8px 0 rgba(0,0,0,.108);
}



.main-57 {
    width: auto;
    max-width: 1000px !important;
    min-width: 288px;
}

